<div id="page" style="display: none">
    <div class="row">
        <div class="col-xs-12">
            <img id="imgTop" src='@Url.Content("~/img/p3/p33.jpg")' />
        </div>
        <div class="col-xs-6">
            <a id="linkButton1" href="http://wd.koudai.com/item.html?itemID=293750930" class="btn btn-primary btn-lg" style="width: 250px; font-size: 36px; color: white; background: #f26522">两个装预售</a>
        </div>
        <div class="col-xs-6">
            <a id="linkButton2" href="http://wd.koudai.com/item.html?itemID=280276733" class="btn btn-primary btn-lg" style="width: 250px; font-size: 36px; color: white; background: #f26522">四个装预售</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img id="imgMiddle" src='@Url.Content("~/img/p3/p34.jpg")' />
        </div>
    </div>
    <div id="avatar" class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/1s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/2s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/3s.jpg")' />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/4s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/p3/p32.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/5s.jpg")' />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/6s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/7s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/8s.jpg")' />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/9s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/10s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/11s.jpg")' />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/12s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/13s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/14s.jpg")' />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/15s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/16s.jpg")' />
            </div>
            <div class="col-xs-4">
                <img src='@Url.Content("~/img/person/17s.jpg")' />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var _ratio = 1.0;

        $(function () {
            $("body").css("background-color", "#e3e2e2");

            $("#avatar > div.row").css({
                "margin-top": "20px",
                "margin-bottom": "20px"
            });

            $("#avatar img").each(function (index, element) {
                var img = $(element);
                var imgUrl = img.attr("src");
                if (imgUrl.indexOf("/img/person/") >= 0) {
                    img.attr("title", "点击看大图");
                    img.css("cursor", "pointer");

                    img.on("click", function () {
                        location.href = '@Url.Action("Detail")' + "?imgUrl=" + encodeURI(imgUrl);
                    });
                }
            });

            $("#page").fadeIn(1000);

            scalingByRatio();
        });

        function scalingByRatio() {
            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            $("#imgTop").css({
                "width": 640 * _ratio,
                "height": 316 * _ratio
            });
            $("#linkButton1").css({
                "width": 250 * _ratio,
                "font-size": 36 * _ratio + "px",
                "margin-left": 40 * _ratio + "px"
            });
            $("#linkButton2").css({
                "width": 250 * _ratio,
                "font-size": 36 * _ratio + "px",
                "margin-left": 15 * _ratio + "px"
            });
            $("#imgMiddle").css({
                "width": 640 * _ratio,
                "height": 332 * _ratio
            });
            $("#avatar img").css({
                "width": 167 * _ratio,
                "height": 167 * _ratio
            });
        }
    </script>
}
