@model IEnumerable<Pinecone.Models.Order>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>订单管理</h2>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            用户编号
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReveiverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Sn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReveiverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
