<div id="page" style="display: none" class="swiper-container">
    <img id="imgArrow" src='@Url.Content("~/img/phase2/p11.png")' style="position: absolute; z-index: 1" />
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p3.jpg")' style="position: absolute; z-index: 0" />
        </div>
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p4.jpg")' style="position: absolute; z-index: 0" />
        </div>
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p5.jpg")' style="position: absolute; z-index: 0" />
        </div>
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p6.jpg")' style="position: absolute; z-index: 0" />
        </div>
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p7.jpg")' style="position: absolute; z-index: 0" />
        </div>
        <div class="swiper-slide">
            <img src='@Url.Content("~/img/phase2/p8.jpg")' style="position: absolute; z-index: 0" />
        </div>
    </div>
</div>

@section Scripts {
	<link type="text/css" rel="stylesheet" href="~/Scripts/swiper/idangerous.swiper.css" />
    <script type="text/javascript" src="~/Scripts/swiper/idangerous.swiper.min.js"></script>

    <script type="text/javascript">
        var _ratio = 1.0;
        var _prevIndex = 0;

        $(function () {
            _isPhase2 = true;

            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            scalingByRatio();

            window.setInterval(function () {
                $("#imgArrow").animate({
                    'top': $(window).height() - 64 * 3 * _ratio + 'px'
                }, 800, function () {
                    $("#imgArrow").animate({
                        'top': $(window).height() - 64 * _ratio + 'px'
                    }, 800);
                });
            }, 1600);

            var size = $(".swiper-wrapper").children().size();
            var mySwiper = $(".swiper-container").swiper({
                mode: "vertical",
                swipeToPrev: false,
                swipeToNext: true,
                onSlideChangeEnd: function (swiper, direction) {
                    swiper.params.swipeToPrev = swiper.activeIndex > 0;
                    _prevIndex = swiper.activeIndex;
                },
                onTouchEnd: function (swiper) {
                    if (_prevIndex == size - 1 && swiper.activeIndex == size - 1) {
                        location.href = '@Url.Action("Person", "Phase2")';
                    }
                }
            });

            $("#page").fadeIn(1000);
        });

        function scalingByRatio() {
            $(".swiper-container").css({
                "width": 640 * _ratio,
                "height": 1080 * _ratio
            });
            $(".swiper-slide").css({
                "width": 640 * _ratio,
                "height": 1080 * _ratio
            });
            $(".swiper-slide img").css({
                "width": 640 * _ratio,
                "height": 1080 * _ratio
            });

            $("#imgArrow").css({
                "width": 48 * _ratio,
                "height": 64 * _ratio,
                "left": 300 * _ratio,
                "top": $(window).height() - 64 * _ratio
            });
        }
    </script>
}
