<div id="page" style="display: none">
    <img id="background" src='@Url.Content("~/img/phase2/p2.jpg")' style="position: absolute; z-index: 0" />
    <img id="pinecone" src='@Url.Content("~/img/phase2/pinecone.png")' style="position: absolute; z-index: 1; left: 170px; top: 125px" />
    <a href="javascript: squirrelUp()">
        <img id="squirrel" src='@Url.Content("~/img/phase2/squirrel.png")' style="position: absolute; z-index: 2; left: 300px; top: 455px" />
    </a>
    <img id="imgTopLabel" src='@Url.Content("~/img/phase2/p22.png")' style="position: absolute; z-index: 3; left: 25px; top: 350px" />
    <img id="imgBottomLabel" src='@Url.Content("~/img/phase2/p23.png")' style="position: absolute; z-index: 3; left: 250px; top: 750px" />
</div>

@section Scripts {
    <script type="text/javascript">
        var _ratio = 1.0;
        var _clickCount = 0;

        $(function () {
            _isPhase2 = true;

            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            scalingByRatio();

            $("#page").fadeIn(1000);
        });

        function scalingByRatio() {
            $("#background").css({
                "width": 640 * _ratio,
                "height": 1080 * _ratio
            });

            $("#pinecone").css({
                "width": 191 * _ratio,
                "height": 190 * _ratio,
                "left": 150 * _ratio,
                "top": 125 * _ratio
            });

            $("#squirrel").css({
                "width": 155 * _ratio,
                "height": 432 * _ratio,
                "left": 300 * _ratio,
                "top": 455 * _ratio
            });

            $("#imgTopLabel").css({
                "width": 604 * _ratio,
                "height": 57 * _ratio,
                "left": 25 * _ratio,
                "top": 350 * _ratio
            });
            $("#imgBottomLabel").css({
                "width": 342 * _ratio,
                "height": 93 * _ratio,
                "left": 250 * _ratio,
                "top": 750 * _ratio
            });
        }

        function squirrelUp() {
            if (_clickCount < 1) {
                _clickCount++;

                // 松鼠向上移动
                var top = $("#squirrel").css("top").replace("px", "");
                top = parseInt(top);
                top -= 360 * _ratio;
                $("#squirrel").animate({ 'top': top + 'px' }, 1500, function () {
                    if (_clickCount == 1) {
                        // 松果落下
                        var pineconeTop = $("#background").height() - $("#pinecone").height();
                        $("#pinecone").animate({ 'top': pineconeTop + 'px' }, 1500, function () {
                            // 页面淡出
                            $("#page").fadeOut(1500, function () {
                                location.href = '@Url.Action("Production")';
                            });
                        });
                    }
                });
            }
        }
    </script>
}